:root {
    --Flame: #E4572E;
    --DelftBlue: #29335C;
    --Orange: #F3A712;
    --Olivine: #A8C686;
    --AirSuperiorityBlue: #669BBC;

    background-color: var(--DelftBlue);
}

body{
    margin: 0;
    overflow: hidden;
}

.horizontal-block {
    visibility: hidden;
    width: 100%;
    height: 20%;
    background-color: white;
    position: fixed;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the blocks are on top of other elements */
    transition: width 1.5s;
    transition-delay: 0.1s;
    animation: jiggle 0.5s ease-in-out infinite;
}
@keyframes jiggle {
  from, to { transform: translateX(-7px); }
  50% { transform: translateX(0px); }
}
/* May need to delete later along with animation: in horiz block*/

.first-block {
    top: 0;
}

.second-block {
    top: 20%;
}

.third-block {
    top: 40%;
}

.fourth-block {
    top: 60%;
}

.fifth-block {
    top: 80%;
}

#c{
    visibility: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
}

#scene-2-text
{
    visibility: hidden;
    position: absolute;
    z-index:-1;
}

#steel-door{
    visibility: hidden;
    background-color: rgb(31, 29, 29);
    width: 100%;
    height: 100%;
}

canvas{
    position:absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index:-1;
}

* {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.navbar{
    color: black;
    background-color: var(--DelftBlue);
    overflow: hidden;
}

.navbar a{
    z-index: 10;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    background-color: var(--AirSuperiorityBlue);
    cursor:pointer;
}

svg{
    z-index: 100;
}