#poem-scene-4-container
{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
}

#poem-scene-4
{   font-size: 40px;
    line-height: 1.5;
    white-space: pre;
    color: black;
    z-index: 100;
}

#box-background
{
    z-index: 0;
    visibility: hidden;
    background-color: radial-gradient(circle, rgba(102,155,188,1) 100%, rgba(228,87,46,1) 100%, rgba(228,87,46,1) 100%); 
    position: absolute;
    height: 100%;
    width: 100%;
}